# Frontend runtime
frontend/dist/
frontend/node_modules/

# Backend runtime
backend/venv/
backend/db.sqlite3
backend/current
backend/releases/
backend/backend-artifact.tar.gz

# OS / misc
*.log
*.zip
*.tar.gz

# Local dev environments
.venv/
.vscode/
frontend/.vscode/
