version: "3.8"

services:
  backend:
    image: "${BACKEND_IMAGE}"
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    command: >
      gunicorn airport_kpi.wsgi:application --bind 0.0.0.0:8000

  frontend:
    image: "${FRONTEND_IMAGE}"
    container_name: frontend
    restart: always
    ports:
      - "80:80"
