version: "3.9"

services:
  backend:
    image: ${BACKEND_IMAGE}
    container_name: backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    image: ${FRONTEND_IMAGE}
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
